<header id="header">

    <div id="logo-group">
        <span id="logo"> <img src="assets/images/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space">  <a href="register.html" class="btn btn-info">Suporte</a> </span>

</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">Nome do Cliente {{ Page.title() }}</h1>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form name="formLogin" formvalidator class="smart-form client-form" ng-submit="logar()" novalidate>
                        <header>Entrar</header>
                        <fieldset>
                            <section>
                                <label class="label">Usuário</label>

                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="usuario" ng-model="usuario" placeholder="Usuário" required>
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Digite o nome do usuário do sistema</b>
                                </label>
                            </section>

                            <section>
                                <label class="label">Senha</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="senha" ng-model="senha" placeholder="Senha" required>
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Digite sua senha</b>
                                </label>
                                <div class="note">
                                    <a href="javascript:;" ng-click="recuperarSenha();">Esqueceu sua senha?</a>
                                </div>
                            </section>

                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="lembrar" ng-model="lembrar" checked="">
                                    <i></i> Lembrar meu usuário?
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </footer>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>